@import 'base/variables';

.footer {
    margin-top: 20px;
     border: 5px solid $color-principal;
    width: auto;
    background-color: $color-secundario;
    
     img {
        width: 10%;
       }
    
    

       .p-footer {
        color: gold;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
}