@import 'base/variables';

h2 {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    color: $color-secundario;
    background-color: $color-principal;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;

}

.seccion-hamb {
    display: flex;
    justify-content: center;

    .hamburguesas {
        border: 4px solid $color-principal;
        background-color: $color-principal;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        width: 50%;
        align-items: center;
        margin-top: 30px;
        font-family: 'Times New Roman', Times, serif; 
        
    }
    .hamburguesa1-imagen {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .hamburguesa2-imagen {
        width: 100%;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .hamburguesa-3 {
        width: 100%;
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .hamburguesa-4 {
        width: 100%;
        grid-area: 4 / 1 / 5 / 2;
    }
    
    .hamb {
        transition: all 1s;
        &:hover {
            transform: scale(1.2);
        }
    }
    
    
     .desc-1 {
        grid-area: 1 / 2 / 2 / 3;
    
    }
    
    .desc-2 {
        grid-area: 2 / 2 / 3 / 3;
    }
    
    .desc-3 {
        grid-area: 3 / 2 / 4 / 3;
    }
    
    .desc-4 {
        grid-area: 4 / 2 / 5 / 3;
    }
}


.seccion-hamb2 {
    display: flex;
    justify-content: center;
    .hamburguesas2s {
        border: 4px solid $color-principal;
            background-color: $color-principal;
            display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    align-items: center;
    width: 50%;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    }
    .hamburguesa5 {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
    }
    .hamburguesa6 {
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;
    }
    .hamburguesa7 {
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
    }
    .desc-5 {
        grid-area: 1 / 2 / 2 / 3; 
    }
    .desc-6 {
        grid-area: 2 / 2 / 3 / 3; 
    } 
    .desc-7 {
        grid-area: 3 / 2 / 4 / 3; 
    }
}

.hamb2 { 
        transition: all 1s;
        &:hover {
            transform: scale(1.2);
        }
    
}


.cocineros-s {
    width: 100%;
    display: flex;
    justify-content: center;
    h3 {
        color: white;
    }
    section {
        width: 50%;
        background-color: $color-secundario;
        border: 4px solid $color-principal;
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        margin: 20px;

        iframe {
            width: 100%;
        }   
        
        }    
}

.imagen-Logo {
    width: 10%;
}


.main-quienes-somos {
    display: flex;
    justify-content: center;
}

.Seccion-quienes-somos {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 30%;
    font-size: larger;
    border: 15px solid gold;
    margin: 20px 20px;
    padding: 10px;
}



.sponsor {
    margin: 100px;
    display: flex;
    justify-content: center;
    height: 80px;
    .img-sponsor {
        width: 100%;
    }
}

