@import 'base/variables';

@media (max-width: 590px) {
    .seccion-hamb {
        width: 100%;
        .hamburguesas {
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            width: 100%;
            align-items: center;
        }
    }
    
    .seccion-hamb2 {
        width: 100%;
        .hamburguesas2s {
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 50px;
            width: 100%;
            align-items: center;
        }
    }


    h2 {
        margin-left: 20%;
        margin-right: 20%;
    }


    .main-quienes-somos {
        display: flex;
        flex-direction: column;
    }
    
    
   
    .Seccion-quienes-somos {
        margin: 20px 0px;
       width: 100%;
    }

    .sect-mapa{
        flex-direction: column;
        width: 100%;
        .div-p-mapa {
            width: 100%;
        }
 
         
    }
    

    .cocineros-s {
        flex-direction: column;
        section {
            margin: 20px 0px;
            width: 100%;
            
        }
    }

    iframe {
        width: 100%;
      }
    
.wpp {
    width: 20%;
}

.footer{
    
    img {
        width: 30%;
    }

    .p-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }
}
    
    }