body {
    background-image: url(https://st3.depositphotos.com/4112611/16101/v/450/depositphotos_161015130-stock-illustration-fast-food-pattern.jpg);
}

.header {
    background-color: gold;
    display: flex;
    justify-content: center;
    margin: 2rem, 2rem;
    font-style: italic;
}



.imagen-Logo {
    width: 10%;
}



.top-bar {
    width: 90rem;
    display: flex;
    justify-content: space-around;
    color: gold;
    background-color: white;
    border: 4px solid gold;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;

}

.item-1, .item-2, .item-3, .item-4 {
    background-color: gold;
    transition: all 1.5s;
}

.item-1, .item-2, .item-3, .item-4:hover {
    transform: scale(2);
}







h2 {
    margin-top: 50px;
    border: 4px solid gold;
    background-color: white;
    display: flex;
    justify-content: center;

}

.seccion-hamb {
    display: flex;
    justify-content: center;
}

.hamburguesas {
    border: 4px solid gold;
    background-color: gold;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.1fr);
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    width: 50%;
}

.hamburguesa1-imagen {
    width: 50%;
    grid-area: 1 / 1 / 2 / 2;
}

.hamburguesa2-imagen {
    width: 50%;
    grid-area: 2 / 1 / 3 / 2;
}

.hamburguesa-3 {
    width: 50%;
    grid-area: 3 / 1 / 4 / 2;
}

.hamburguesa-4 {
    width: 50%;
    grid-area: 4 / 1 / 5 / 2;
}

.hamb {
    transition: all 1.5s;
}
 .hamb:hover {
     transform: scale(2);
 }


.desc-1 {
    grid-area: 1 / 2 / 2 / 3;

}

.desc-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.desc-3 {
    grid-area: 3 / 2 / 4 / 3;
}

.desc-4 {
    grid-area: 4 / 2 / 5 / 3;
}

.ig-icono {
    width: 10%;
}











.footer-img {
    width: 10%;
}

.footer {
    margin-top: 20px;
    border: 4px solid gold;
    width: auto;
    background-color: black;
}

.p-footer {
    border: 3px dotted gold;
    background-color: rgb(255, 255, 198);
    width: 20%;
    display: flex;
    justify-content: center;
}

.wpp-footer {
    width: 10%;
    display: flex;
    justify-content: center;
}


.mapa {
    width: 40%;
    display: flex;
    justify-content: center;
}