@import 'base/variables';
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/mediaq";


body  {
    background-image: url(https://st3.depositphotos.com/4112611/16101/v/450/depositphotos_161015130-stock-illustration-fast-food-pattern.jpg);
}



.ig-icono {
    width: 10%;
}


iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}


.sect-mapa {
    display: flex;
    justify-content: center;

    iframe {
        margin: 20px;
        
    }
    .p-mapa {
        background-color: gold;
        width: 50%;
        font-size: large;
        height: 200px;
        padding: 10px;
        margin-right: 20px;
    }
}


.disclaimer {
    display: none;
}

