@import 'base/variables';
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/mediaq";


body  {
    background-image: url(https://st3.depositphotos.com/4112611/16101/v/450/depositphotos_161015130-stock-illustration-fast-food-pattern.jpg);
    margin: 0px 10px;
}



.ig-icono {
    width: 10%;
}

.wpp {
    position:fixed;
    right: 20px;
    bottom: 20px;
    width: 7%;
}


iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}


.sect-mapa {
    display: flex;
    justify-content: center;

    iframe {
        margin-top: 20px;
        margin-right: 20px;
        width: 100%;
    }
    .div-p-mapa {
        background-color: gold;
        font-size: large;
        width: 100%;
        height: 200px;
        padding: 10px;
        margin-right: 20px;
        margin-top: 20px;
    }
    .p-mapa {
        width: 100%;
    }
}


.diclaimer {
    display: none;
}